@import '../../utility/variables';

.teaser {
  margin-bottom: 40px;
  padding: 0 20px;
  text-align: left;
  @media (max-width: $tablet) {
    padding: 0;
  }
  &__thumbnail {
    img {
      width: 100%;
    }
  }
  &__subtitle {
    font-weight: normal;
    font-size: 11px;
    line-height: 11px;
    color: #000000;
    opacity: 0.5;
    padding: 16px 0 10px;
    @media (min-width: $desktopL) {
      font-size: 14px;
      line-height: 14px;
    }
  }
  &__title {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.3px;
    font-weight: 600;
    @media (min-width: $desktopL) {
      font-size: 25px;
      line-height: 35px;
    }
    @media (max-width: $tablet) {
      font-size: 18px;
      line-height: 24px;
    }
  }
  &__summary {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.3px;
    opacity: 0.7;
    padding-top: 20px;
    @media (min-width: $desktopL) {
      font-size: 18px;
      line-height: 28px;
      font-weight: 300;
      opacity: 1;
    }
  }
}