@import '../../utility/mixins';

.editor-choice {
  &__inner {
    padding: 60px 0 40px;
  }
  &__heading {
    @include section_heading();
  }

  &__slider {
    .slick-current .editor-choice__slider-item {
      border-left: 1px solid transparent;
    }
    &-item {
      border-left: 1px solid $border-gray;
      @media (max-width: $desktopS) {
        border-left: 1px solid transparent;
      }
      @media (max-width: $tablet) {
        padding: 0 20px;
      }
    }
  }
}