.slick {
  &-slider {
    position: relative;
  }
  &-track {
    display: flex;
    padding: 0;
  }

  &-list {
    overflow: hidden;
    min-width: 100%;
    padding: 0;
  }
  &-arrow {
    display: block;
    position: absolute;
    top: 47%;
    z-index: 1000;
    width: 50px;
    height: 50px;
    font-size: 0;
    background-color: transparent;
    //opacity: 0.5;
    //border-radius: 50%;
    border: none;
    outline: none;

  }
  &-prev {
    left: -10px;
    background-image: url("https://img.icons8.com/ios-filled/50/chevron-left.png");
  }
  &-next {
    right: -10px;
    background-image: url("https://img.icons8.com/ios-filled/50/chevron-right.png");
  }
}