@import "../../utility/variables";

// generic styles for slider start
.slick {
  &-slide {
    margin-bottom: 30px;
  }
  &-slider {
    position: relative;
  }
  &-track {
    display: flex;
    padding: 0;
  }
  &-list {
    overflow: hidden;
    min-width: 100%;
    padding: 0;
  }
  &-dots {
    display: flex !important;
    justify-content: center;
    li {
      margin-right: 15px;
      opacity: 0.6;
      button {
        font-size: 0;
        background-color: $bg-dark;
        outline: none;
        border: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
      &.slick-active, &:hover {
        opacity: 1;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
// generic styles for slider start
