@import '../../utility/variables';

.header {
  &__inner {
    padding: 50px 18px 30px;
    @media (max-width: $tablet) {
      padding-top: 30px;
    }
  }
  &__menu {
    @media (max-width: 1140px) {
      display: none;
    }
    &-btn {
      background-color: transparent;
      outline: none;
      border: none;
      width: 30px;
      height: 30px;
      background-image: url("https://img.icons8.com/ios-glyphs/30/ffffff/menu--v1.png");
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
      @media (min-width: 1141px) {
        display: none;
      }
    }
    &-item {
      display: inline;
      margin-right: 40px;
      text-decoration: none;
      padding-top: 9px;
      padding-bottom: 9px;
      font-size: 12px;
      line-height: 20px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $white;
      opacity: 0.5;
      &:hover, &.active {
        opacity: 1;
      }
    }
  }
  &__logo {
    margin-right: 40px;
  }
  &__social {
    &-links {
      @media (max-width: 1140px) {
        display: none;
      }
    }
    &-link {
      margin-left: 16px;
      img {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

