@import '../../utility/mixins';

.tutorials {
  &__inner {
    padding: 60px 0 40px;
  }
  &__heading {
    @include section_heading();
  }

  &__slider {
    .slick-slide:last-child .tutorials__slider-item {
      border-right: 1px solid transparent;
    }
    &-item {
      border-right: 1px solid $border-gray;
      @media (max-width: $desktopS) {
        border-right: 1px solid transparent;
      }
      @media (max-width: $tablet) {
        padding: 0 20px;
      }
    }
  }
}