@import '../../utility/mixins';

.industry {
  &__inner {
    padding: 60px 0 40px;
  }
  &__heading {
    @include section_heading();
    color: $white;
  }
  &__article {
    &-subtitle {
      color: $white;
      opacity: 0.3;
    }
    &-title {
      color: $white;
      opacity: 0.8;
    }
    &-summary {
      color: $white;
      opacity: 0.5;
    }
  }
}