@import '../node_modules/bootstrap/scss/bootstrap';
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  @media (min-width: 1680px) {
    max-width: 1440px;
  }
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ececec;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.dark {
  padding: 0 40px;
  background-color: #121212;
  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

.white {
  padding: 0 40px;
  background-color: #ffffff;
  @media (max-width: 767px) {
    padding: 0 20px;
  }
}