@import '../../utility/variables';

.teasers {
  // styles for teasers inner container start
  &__inner {
    padding-bottom: 40px;
    @media (max-width: $desktopS) {
      padding-bottom: 0;
    }
  }
  // styles for teasers inner container end

  // styles for bigger teaser start
  &__important-teaser {
    &-subtitle {
      color: $white;
      opacity: 0.3;
      padding: 20px 0 10px;
      @media (max-width: $desktopS) {
        padding-top: 0;
      }
      @media (max-width: $tablet) {
        padding-top: 20px;
      }
    }
    &-title {
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 0;
      color: $white;
      opacity: 0.8;
      margin-bottom: 16px;
      @media (min-width: $desktopL) {
        font-size: 32px;
        line-height: 42px;
      }
      @media (max-width: $tablet) {
        font-size: 24px;
        line-height: 32px;
      }
    }
    &-summary {
      font-size: 16px;
      line-height: 26px;
      color: $white;
      opacity: 0.5;
      font-weight: 300;
      padding-top: 0;
    }
  }
  // styles for bigger teaser end

  // styles for smaller teasers start
  &__small-teasers {
    padding: 0 20px;
    @media (max-width: $tablet) {
      padding: 0;
    }
  }
  &__small-teaser {
    border-top: 1px solid rgba(255,255,255,0.1);
    text-align: left;
    padding-bottom: 32px;
    padding-top: 32px;
    margin-bottom: 0;
    &:first-child {
      padding-top: 0;
      border-top: 1px solid transparent;
      @media (max-width: $desktopS) {
        border-top: 1px solid rgba(255,255,255,0.1);
        padding-top: 24px;
      }
    }
    @media (max-width: $desktopS) {
      padding: 24px 0;
    }
    &-subtitle {
      color: $white;
      opacity: 0.3;
      letter-spacing: 0.5px;
      padding: 4px 0 10px;
      @media (max-width: $tablet) {
        padding: 0 0 10px;
      }
      @media (max-width: $phone) {
        padding-top: 20px;
      }
    }
    &-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0;
      color: $white;
      opacity: 0.8;
      @media (max-width: $tablet) {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
  // styles for smaller teasers end

}