@import '../../utility/mixins';


.other-articles {
  &__heading {
    @include section_heading();
  }
  &__item {
    &-subtitle {
      @media (min-width: $phone) {
        padding-top: 0;
      }
    }
    &-thumbnail {
      margin-top: 20px;
    }
    &-summary {
      @media (max-width: $phone) {
        display: none;
      }
    }
    &-title {
      @media (max-width: $tablet) {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
}